.conteudo-principal {
    flex: 1;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    text-align: justify;
}

article {
    margin-bottom: 30px;
}

article h2,
article h3,
article h4,
article h5 {
    color: #6C7492;
}

.lista {
    list-style-type: circle;
    list-style-position: outside; 
    padding-left: 30px;           
    margin-left: 20px;           
}

.lista li {
    margin-bottom: 10px;
}

.lista li::marker {
    color: #6C7492;
    font-size: 1.1em;
}


.lista1 {
    list-style-type: decimal;
    list-style-position: inside;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;               
}

.lista1 li {
    margin-bottom: 10px;
    padding-left: 20px;
}

.lista1 li::marker {
    color: #6C7492;
    font-size: 1.1em;
}
.destaque {
    font-weight: bold;
    color: #333;
    background-color: #f0f0f0;
    padding: 10px;
    border-left: 4px solid #6C7492;
}

.sintaxe {
    width: 80%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
p {
    text-indent: 30px;
    line-height: 1.5;
}

section[id]:empty {
    display: none;
}
.referencias {
	text-indent: 0;
}	